@model RecuperarPasswordViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Resetea tu password";
}

<h1>Resetea tu password</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="RecuperarPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoReseteo" />

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <div class="input-group">
                    <input asp-for="Password" id="password" type="password" class="form-control" />
                    <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">
                        <img id="toggle-icon" src="https://img.icons8.com/ios-glyphs/30/000000/visible.png" alt="Show/Hide Password" style="margin-left: 5px;" />
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn-primary btn">Resetear</button>
        </form>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var toggleIcon = document.getElementById("toggle-icon");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.src = "https://img.icons8.com/ios-glyphs/30/000000/invisible.png";
            } else {
                passwordField.type = "password";
                toggleIcon.src = "https://img.icons8.com/ios-glyphs/30/000000/visible.png";
            }
        }
    </script>

</div>